In [ ]:
# IMPORTING LIBRARIES
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('zomato.csv')
df1 = df

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df = df.drop(['url', 'address', 'phone', 'menu_item', 'dish_liked', 'reviews_list'], axis=1)

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df = df.drop_duplicates()
df.shape

# LET'S CLEAN THE RATE COLUMN AS IT IS HAVING MOST NULL VALUES

In [ ]:
# df.rate
df['rate'].unique()

In [ ]:
# we see there are 2 different types(NEW, -) of values instead of number or nan value 

def replace_with_nan(s):
    if(s=='NEW' or s=='-'):
        return np.nan
    else:
        s = str(s).split('/')
        s = s[0]
        return float(s)
df['rate'] = df['rate'].apply(replace_with_nan)
# df['rate'].unique()
df['rate'].head()

In [ ]:
df.rate.isnull().sum()

In [ ]:
df['rate'].fillna(df['rate'].mean(), inplace = True) # REPLACE NAN WITH MEAN OF THE RATE COLUMN
df['rate'].isnull().sum()

In [ ]:
df.info()

 # DROPPING ALL THE NULL VALUES SINCE THERE ARE NOT MUCH LEFT IN THE DATASET

In [ ]:
df = df.dropna()
# df.head()
df.info()

# RENAMING THE COLUMNS

In [ ]:
df = df.rename(columns = {'approx_cost(for two people)' : 'cost2plates', 'listed_in(type)' : 'Type', 'listed_in(city)' : 'city'})
df.info()

In [ ]:
df.location.unique()
# df.location.value_counts()

In [ ]:
# df.city.unique()

In [ ]:
# df = df.drop(['city'], axis = 1)
df.info()

# ANALYSIS OF COST2PLATES COLUMN

In [ ]:
df['cost2plates'].unique()  
# df['cost2plates'].info()

# REMOVING COMMAS IN COST2PLATES COLUMN

In [ ]:
def remove_commas(s):
    s = str(s)
    if ',' in s:
        s = s.replace(',', '')
        return float(s)
    else:
        return float(s)
df['cost2plates'] = df['cost2plates'].apply(remove_commas)
df['cost2plates'].unique()

In [ ]:
# df['cost2plates'].info()
# df['cost2plates'] = str(df['cost2plates']).str.split('.').str[0]
df['cost2plates'].value_counts()

# ANALYSIS OF REST_TYPE

In [ ]:
df.rest_type.value_counts()

In [ ]:
rest_types = df['rest_type'].value_counts(ascending = False)
rest_types

# MAKING CLUSTERS OF REST_TYPE WHOSE VALUES ARE LESS THAN 1000

In [ ]:
rest_type_1000 = rest_types[rest_types<1000]
rest_type_1000

In [ ]:
def if_less_than(value):
    if(value in rest_type_1000):   # if its present in rest_type_1000 then make it others
        return 'others'
    else:
        return value
df['rest_type'] = df['rest_type'].apply(if_less_than)
df['rest_type'].value_counts()

In [ ]:
df.info()

# ANALYSIS ON LOCATION COLUMN

In [ ]:
df.location.value_counts()

# MAKING CLUSTERS OF LOCATIONS WHOSE VALUES ARE LESS THAN 300

In [ ]:
location = df['location'].value_counts(ascending = True)
# print(location)
location_300 = location[location<300]

In [ ]:
def if_less_than_300(value):
    if(value in location_300):
        return 'others'
    else:
        return value
df['location'] = df['location'].apply(if_less_than_300)
df.location.value_counts().head()

In [ ]:
df.head()

# MAKING CLUSTERS OF CUISINES WHOSE VALUES ARE LESS THAN 100

In [ ]:
cuisines = df['cuisines'].value_counts(ascending = True)
cuisines_100 = cuisines[cuisines<100]

In [ ]:
def if_less_than_100(value):
    if(value in cuisines_100):
        return 'others'
    else:
        return value
df['cuisines'] = df['cuisines'].apply(if_less_than_100)
df.cuisines.value_counts()

In [ ]:
df.head()

# NO NEED OF CLEANING TYPE AS IT IS ALREADY CLEANED

In [ ]:
df.Type.value_counts()

# NOW LETS MOVE TO VISUALIZATION PART

In [ ]:
plt.figure(figsize=(16, 8))
# ax = sns.countplot(df['location'])
# plt.xticks()

location_counts = df['location'].value_counts()

# plt.bar(df['location'].value_counts().index, df['location'].value_counts().values)
plt.bar(location_counts.index, location_counts.values)
plt.xlabel('Location')
plt.ylabel('Count')
plt.title('Count of Locations')
plt.xticks(rotation=90)  # Rotate x-axis labels for better readability
plt.show()

In [ ]:
df.rename(columns = {'rate':'rating'}, inplace=True)
df.head()

In [ ]:
plt.figure(figsize=(10,4))
# sns.countplot(df['book_table'], palette = 'rainbow')

colors = ['blue', 'red']
plt.bar(df['book_table'].value_counts().index, df['book_table'].value_counts().values, color=colors)
plt.xlabel('Book_table')
plt.ylabel('Count')
plt.title('Count of Locations')
plt.xticks(rotation=90)  # Rotate x-axis labels for better readability
plt.show()

In [ ]:
plt.figure(figsize=(16,8))
sns.countplot(df['online_order'], palette = 'rainbow')

# BOOK ONLINE ORDER AND RATING RELATION

In [ ]:
plt.figure(figsize = (6,6))
sns.boxplot(x = 'online_order', y = 'rating', data = df)

# BOOK TABLE AND RATING RELATION

In [ ]:
plt.figure(figsize = (6,6))
sns.boxplot(x = 'book_table', y = 'rating', data = df)   
# imp pbservation.... restaurants having book table facility have more rating means people are loving those 
# restaurants which have book table facility

# ONLINE ORDER AND LOCATION RELATION

In [ ]:
# df1 = df.groupby(['location', 'online_order'])['name'].count()
# df1.to_csv('location_online.csv')
# df1 = pd.read_csv('location_online.csv')
# df1 = pd.pivot_table(df1, values=None, index=['location'], columns=['online_order'], fill_value=0, aggfunc=np.sum)

# (new learning) short code :)

df1 = pd.crosstab(df['location'], df['online_order'])
df1

In [ ]:
df1.plot(kind = 'bar', figsize=(25,12))

In [ ]:
# df2 = df.groupby(['location', 'book_table'])['name'].count()
# df2.to_csv('location_book.csv')
# df2 = pd.read_csv('location_book.csv')
# df2 = pd.pivot_table(df2, values=None, index=['location'], columns=['book_table'], fill_value=0, aggfunc=np.sum)
# df2


# df2 = pd.crosstab(df['location'], df['book_table'])
df2 = pd.crosstab(df['location'], df['book_table'], normalize='columns')*100
# df2
df2.head()

In [ ]:
df2.plot(kind='bar', figsize = (15,8))

# TYPE AND RATING BOXPLOT

In [ ]:
plt.figure(figsize=(14,8))
sns.boxplot(x='Type', y='rating', data=df, palette='inferno')

In [ ]:
# df3 = df.groupby(['location', 'Type'])['name'].count()
# df3.to_csv('location_type.csv')
# df3 = pd.read_csv('location_type.csv')
# df3 = pd.pivot_table(df3, values=None, index=['location'], columns=['Type'], fill_value=0, aggfunc=np.sum)

df3 = pd.crosstab(df['location'], df['Type'], normalize='columns')*100
df3.head()

In [ ]:
dfx = df3.head(20)
dfx.plot(kind='bar', figsize = (40, 10))

# tough to read and understand, could have done something better **(todo thing)**

# LOCATION AND VOTES

In [ ]:
# df4 = df[['location', 'votes']]
# df4.drop_duplicates()
# df5 = df4.groupby(['location'])['votes'].sum()
# df5.to_csv('xyz')
# df5 = pd.read_csv('xyz')


 # ** OR ** #

df5 = df[['location', 'votes']]
# df4.drop_duplicates();
# df5 = df4.groupby(['location'])['votes'].sum()
# df5 = df5.to_frame()

 # ** OR ** #

df4 = df[['location', 'votes']]
df4.drop_duplicates();
df4 = pd.crosstab(df['location'], df['votes'].sum())

# df5 = df5.sort_values('votes', ascending=False)
df4.head()

In [ ]:
plt.figure(figsize = (15,8))
sns.barplot(x=df5.index, y=df5['votes'])
plt.xticks(rotation=90)
plt.show()

In [ ]:
df.head()

# CUISINES AND VOTES

In [ ]:
df6 = df[['cuisines', 'votes']]
df6.drop_duplicates()
df7 = df6.groupby(['cuisines'])['votes'].sum()
df7 = df7.to_frame()
df7 = df7.sort_values('votes', ascending=False)
df7.head()

In [ ]:
df7 = df7.iloc[1:, :]  # to exclude others
df7

In [ ]:
df7.head()

In [ ]:
plt.figure(figsize = (15,8))
sns.barplot(x=df7.index, y=df7['votes'])
plt.xticks(rotation=90)
plt.show()